@font-face{
    font-family: "roboto-bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face{
    font-family: "roboto-regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "roboto-bold";
}