@import "fonts.css";
*{
    padding: 0;
    margin: 0;
    font-family: "roboto-regular";
}

.action-btn{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}
.action-btn:hover{
    border-bottom: 1px solid black;
}

.header{
    text-align: right;
    padding: 30px 25px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 18px -8px rgba(148,148,148,0.31);
    -moz-box-shadow: 0px 0px 18px -8px rgba(148,148,148,0.31);
    box-shadow: 0px 0px 18px -8px rgba(148,148,148,0.31);
}

.container {
    width: 80%;
    margin: 0 auto;
}
.header a{
    text-decoration: none;
    color: #464646;
    font-size: 16px;
    margin-right: 10px;
    padding: 2px 3px;
}
.header a:hover{
    border-bottom: 1px solid white;
}

#image{
    background-color: #f8f8f8;
}
#form-section{
    margin-top: 27px;
}

#form-section .container{
    text-align: center;
}
#form-section .content{
    background-color: white;
    display: inline-block;
    padding: 51px 63px;
    border-radius: 4px;
    min-width: 600px;
}

#form-section .content h1{
    margin-bottom: 30px;
    font-size: 26px;
}

#form-section .content form label{
    display: block;
    font-size: 15px;
    margin-bottom: 6px;
}

form input,
form select,
form textarea{
    width: 287px;
    padding: 14px 12px;
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid gray;
    width: 100%;
}
form textarea{
    height: 200px;
}
form button{
    background-color: #00be92;
    padding: 8px 18px;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 15px;
}
#form-section .content form .error{
    font-size: 14px;
    margin-bottom: 6px;
    color: #1694ce;
}

#book-list{
    border-collapse: collapse;
    width: 100%;
    margin: 23px auto;
}
  
#book-list td, th {
    border: 2px solid #fff;
    padding: 12px 21px;
}
  
#book-list thead {
    background-color: #ffffff80;
    font-weight: 800;
    font-size: 17px;
}

.sort a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 10px;
}
.sort a:hover{
    border-bottom: 1px solid white;
}

.filters {
    margin-top: 20px;
}
.filters .form-group{
    display: inline-block;
}
.filters input, 
.filters select{
    padding: 8px 10px;
    border: none;
    background: #fffffff0;
    border-radius: 3px;
}
.filters button{
    padding: 9px 10px;
    border: 0;
    background: white;
    border-radius: 2px;
}


.post-list{
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.post-item{
    /* flex: 0 0 25%; */
    margin-bottom: 20px;
}
.post-item .content{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 7px;
    background: white;
    -webkit-box-shadow: 0px 0px 18px -8px rgba(148,148,148,0.31);
    -moz-box-shadow: 0px 0px 18px -8px rgba(148,148,148,0.31);
    box-shadow: 0px 0px 18px -8px rgba(148,148,148,0.31);
}
.post-item .content h2,
.post-item .content p{
    margin-bottom: 10px;
}
.post-item .post-cat{
    margin-bottom: 10px;
    display:inline-block;
    font-size: 14px;
}
#posts{
    margin-top: 50px;
}
.post-item a{
    font-size: 10px;
}
.post-item a.link{
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    display: inline-block;
    background: #273c75;
    padding: 7px 12px;
    border-radius: 5px;
}
.post-artcile h1{
    margin-bottom: 10px;
}
.comment-container{
    margin-top: 50px;
}
.comment-container>div{
    margin-bottom: 10px;
}
.comment-container>h2{
    margin-bottom: 20px;
}
.comments-list li{
    list-style-type: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.comments-list {
    margin-bottom: 20px;
}
.comments-list li span{
    font-style: italic;
    color: gray;
    margin-bottom: 10px;
    display: inline-block;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.pagination {
    display: inline-block;
}
.page-container{
    margin-bottom: 150px;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 50px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
#article{
    margin-top: 50px;
}
.register-href{
    margin-top: 20px;
}
.register-href a{
    text-decoration: none;
    color: #464646;
    font-size: 14px;
}